        body {
            margin: 0;
            height: 100vh;
            font-family: "Noto Serif SC", serif;
            background-color: #fdf6e3;
            overflow: hidden;
        }

        .background img {
            position: absolute;
            width: 100%;
            height: auto;
            object-fit: cover;
            opacity: 1;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            user-select: none;
        }

        .preview {
            position: fixed;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 45vw;
            height: 45vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: none;
            z-index: 9;
            pointer-events: none;
        }



        .highlight {
            background-color: rgba(0, 0, 0, 0.1);
            font-weight: bold;
            color: rgb(255, 0, 0);
            text-decoration: underline;
            border-radius: 0.5vh;
            padding: 0.2vh 0.4vh;
            display: inline-block;
        }

        .overlay-box {
            border-radius: 25%;
        }

        .thumb-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 21vh;
            width: 100%;
            display: flex;
            overflow-x: auto;
            align-items: center;
            padding: 1vh;
            background-color: #fdf6e3;
            box-sizing: border-box;
            z-index: 3;
            user-select: none;
            overflow: hidden;
        }

        .thumb-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0.5vh;
        }


        .char-label {
            font-size: 2vh;
            font-weight: bold;
            color: #333;
            margin-bottom: 0.5vh;
            text-align: center;
            user-select: none;
        }

        .thumb-bar img {
            height: 16vh;
            object-fit: contain;
            cursor: grab;
            transition: transform 0.2s;
            user-drag: none;
        }

        .thumb-bar img:hover {
            transform: scale(1.2);
        }

        .filename {
            font-size: 2vh;
            color: #ff0000;
            margin-top: 0.3vh;
            opacity: 0;
            transition: opacity 0.3s;
            pointer-events: none;
            z-index: 4;
        }

        .overlay-box {
            position: absolute;
            border: 2px solid red;
            background-color: rgba(255, 0, 0, 0.5);
            color: rgb(255, 255, 255);
            font-size: 1.5vh;
            font-weight: bold;
            text-align: center;
            opacity: 0;
            pointer-events: auto;
            transition: opacity 0.3s ease;
            z-index: 99;
        }

        .overlay-box:hover {
            opacity: 1;
            z-index: 99;
        }

        #box-preview {
            position: fixed;
            width: 45vw;
            height: 45vw;
            pointer-events: none;
            z-index: 999;
            display: none;
        }

        #box-preview img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        #box-preview .char-label {
            position: absolute;
            top: 20%;
            left: 0;
            transform: translate(-50%, -50%);
            font-size: 4vh;
            font-weight: bold;
            color: #333;
            background: rgba(255, 255, 255, 0.6);
            padding: 0.5vh 1vh;
            border-radius: 0.5vh;
            pointer-events: none;
            white-space: nowrap;
        }

        #poem-line,
        #poemT-line {
            position: fixed;
            font-family: "Noto Serif SC", serif;
            text-align: center;
            font-size: 2.5vh;
            padding: 1vh 2vh;
            border-radius: 1vh;
            background-color: rgba(255, 255, 255, 0.8);
            color: #333;
            white-space: nowrap;
            z-index: 999;
            pointer-events: none;
            display: none;
            box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
        }



        .scroll-container {
            position: fixed;
            bottom: 23vh;
            left: 50%;
            transform: translateX(-50%);
            width: 50vw;
            height: 5vh;
            overflow: hidden;
            background-color: #fdf6e3;
            font-size: 2.5vh;
            font-family: "Noto Serif SC", serif;
            color: #000000;
            white-space: nowrap;
        }

        .scroll-line {
            position: absolute;
            top: 0;
            white-space: nowrap;
            will-change: transform;
        }

        .ui-buttons {
            position: fixed;
            bottom: 20vh;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            padding: 0 2vw;
            z-index: 3;
            pointer-events: auto;
        }

        .ui-buttons button {
            background-color: rgba(219, 219, 219, 0.5);
            color: #291b00;
            border: none;
            padding: 1vh 2vh;
            font-size: 1.5vh;
            border-radius: 0.5vh;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .ui-buttons button:hover {
            background-color: rgba(172, 172, 172, 0.479);
        }

        .play-buttons {
            position: fixed;
            bottom: 25vh;
            right: 5%;
            display: flex;
            height: 4vh;
            width: 8vw;
            justify-content: space-between;
            padding: 0 2vw;
            z-index: 3;
            pointer-events: auto;
        }

        .play-buttons button {
            background: transparent;
            color: #291b00;
            border: none;
            padding: 1vh 2vh;
            font-size: 1.75vh;
            border-radius: 0.5vh;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .play-buttons button:hover {
            background-color: rgba(172, 172, 172, 0.479);
        }

        #speed-buttons {
            display: flex;
        }

        #speed-buttons button.active {
            background-color: rgba(100, 100, 100, 0.3);
            font-weight: bold;
        }